<!-- main.hbs -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Hichua Veterinarian Hospital</title>
</head>
<header>
    <h1>Hichua Veterinarian Hospital</h1>
    <nav>
        <a href="/">Home</a> |
        <a href="/pets">Pets</a> |
        <a href="/appointments">Appointments</a> |
        <a href="/owners">Owners</a> |
        <a href="/pet-types">Pet Types</a> |
        <a href="/procedures">Procedures</a> |
        <a href="/veterinarians">Veterinarians</a>
    </nav>
</header>
<body>
<div id="color-div">
    {{{body}}}
</div>
</body>
</html>