<!-- main.hbs -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/ec191a61e5.js" crossorigin="anonymous"></script>
    <title>Hichua Veterinarian Hospital</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>
<div class="container">
    <div class="headerNavbar">
        <header>
            <h1>Hichua Veterinarian Hospital</h1>

            <div class="topnav">
                <a id="homeNav" href="/">Home</a>
                <a id="petsNav" href="/pets">Pets</a>
                <a id="appointmentsNav" href="/appointments">Appointments</a>
                <a id="ownersNav" href="/owners">Owners</a>
                <a id="petTypesNav" href="/pet-types">Pet Types</a>
                <a id="proceduresNav" href="/procedures">Procedures</a>
                <a id="vetsNav" href="/veterinarians">Veterinarians</a>
                <a id="examRoomsNav" href="/exam-rooms">Exam Rooms</a>
            </div>

        </header>
    </div>
    <body>
        {{{body}}}
        <div class="footers">
            <footer id="footer">
                &copy; 2022 Becky Lashua | Ann Marie Hicks
            </footer>
        </div>
    </body>
</div>
</html>