<!--exam-rooms.hbs-->
<h2>Exam Rooms</h2>
      <table>
        <tbody>
          <tr>
            <th>Exam Rooms</th>
          </tr>
          <tr>
            <td>1</td>
          </tr>
          <tr>
            <td>2</td>
          </tr>
          <tr>
            <td>3</td>
          </tr>
        </tbody>
      </table>