<!--exam-rooms.hbs-->

{{!-- Exam Rooms Table --}}
<h2>Exam Rooms</h2>
      <table>
        <tbody>
          <tr>
            <th>Exam Room IDs</th>
          </tr>
          <tr>
            <td>1</td>
          </tr>
          <tr>
            <td>2</td>
          </tr>
          <tr>
            <td>3</td>
          </tr>
        </tbody>
      </table>

{{!-- Add Exam Room Form --}}
      <div id="add-exam-room">
      <form id="add-exam-room-form">
        <legend>Add Exam Room</legend>
        <fieldset>
          <label>Exam Room Number: </label>
          <input type="number" name="insert-exam_room" id="insert-exam_room">
        </fieldset>
        <input type="submit" value="Add Exam Room">
      </form>
    </div>