<!-- index.hbs -->

{{!-- script to highlight current tab in nav bar --}}
<script>
  var element = document.getElementById("homeNav");
  element.classList.add("active");
</script>

<div class="tables">
{{!-- list of pages --}}
<ul>
    <li><a href="/">Home</a></li>
    <p>This is the page you are currently on</p>
    <li><a href="/pets">Pets</a></li>
    <p>All of our pet patients and their information</p>
    <li><a href="/appointments">Appointments</a></li>
    <p>All upcoming appointments</p>
    <li><a href="/owners">Owners</a></li>
    <p>All of our pet parents and their information</p>
    <li><a href="/pet-types">Pet Types</a></li>
    <p>All the different kinds of pet we are currently able to treat</p>
    <li><a href="/procedures">Procedures</a></li>
    <p>All the different procedures we offer and their cost</p>
    <li><a href="/veterinarians">Veterinarians</a></li>
    <p>All of our wonderful veterinarians</p>
    <li><a href="/exam-rooms">Exam Rooms</a></li>
    <p>All of our state of the art exam rooms where appointments may take place</p>
</ul>
</div>