<!-- pet-types.hbs -->
<h2>Pet Types</h2>

{{!-- script to highlight current tab in nav bar --}}
<script>
  var element = document.getElementById("petTypesNav");
  element.classList.add("active");
</script>

{{!-- Pet Types Table --}}
<table>
    <thead>
        <tr>
            <th>Pet Type ID</th>
            <th>Type Name</th>
        </tr>
    </thead>
    <tbody>
        {{#each typeData}}
        <tr>
            <td>{{this.pet_typeID}}</td>
            <td>{{this.type_name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{!-- Add Pet Type --}}
<div id="add-pet-type">
    <form id="add-pet-type-form" method="POST" action="/add-pet-type-form">
        <legend>Add a Pet Type</legend>
        <fieldset>
            <p>Please enter the new Pet Type and click "Add Pet Type"</p>
            <label for="input-type_name">Pet Type Name: </label>
            <input type="text" name="input-type_name" id="input-type_name">

            <input type="submit" value="Add Pet Type">
        </fieldset>
    </form>
</div>