<!-- pet-types.hbs -->


{{!-- script to highlight current tab in nav bar --}}
<script>
  var element = document.getElementById("petTypesNav");
  element.classList.add("active");
</script>

<div class="pageTitle">
<h2>Pet Types</h2>
</div>

<div class="tables">
{{!-- Pet Types Table --}}
<table>
    <thead>
        <tr>
            <th>Pet Type ID</th>
            <th>Type Name</th>
        </tr>
    </thead>
    <tbody>
        {{#each typeData}}
        <tr>
            <td>{{this.pet_typeID}}</td>
            <td>{{this.type_name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

</div>
<div class="forms">

        <div class="tab">
        <button class="tablinks" onclick="openForm(event, 'addForm')">Add Pet Type</button>
    </div>
    <script src="./js/tabs.js"></script>

    <div id="addForm" class="tabContent">
{{!-- Add Pet Type Form --}}
    <form class="addForm" id="add-pet-type-form" method="POST" action="/add-pet-type-form">

            <p>Please enter the new Pet Type and click "Add Pet Type"</p>
            <label for="input-type_name">Pet Type Name: </label>
            <input type="text" name="input-type_name" id="input-type_name">

            <input type="submit" value="Add Pet Type">

    </form>
</div>
</div>