<!-- procedures.hbs -->
<h2>Procedures</h2>

{{!-- Procedures Table --}}
    <div class="browse" style="display: block;">
      <table>
        <tbody>
          <tr>
            <th>Procedure ID</th>
            <th>Name</th>
            <th>Cost($)</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Neuter</td>
            <td>10</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Spay</td>
            <td>10</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Vaccinate</td>
            <td>15</td>
          </tr>
             <tr>
            <td>4</td>
            <td>Wellness Exam</td>
            <td>50</td>
          </tr>
             <tr>
            <td>5</td>
            <td>Sick Exam</td>
            <td>50</td>
          </tr>
        </tbody>
      </table>
    </div>



{{!-- Add Procedure Form IN FORM HEAD AFTER ID: method="POST" action="/add-procedure-form"--}}
<div id="add-procedure">
<form id="add-procedure-form">
<legend>Add a Procedure</legend>
<fieldset>
<p>please enter info and click submit</p>

     <label for="input-proc_name">Procedure Name: </label>
    <input type="text" name="input-proc_name" id="input-proc_name">

    <label for="input-cost">Cost: </label>
    <input type="number" name="input-cost" id="input-cost">

    <input type="submit">
    </fieldset>
</form>
</div>

{{!-- Update Procedure Form --}}
<div id="update-procedure">
  <form id="update-procedure-form">
<legend>Update A Procedure</legend>
<fieldset>
<p>To update the cost of a procedure, please select the procedure name from the drop down</p>
    <label for="input-procedure_name">Procedure: </label>
    <select name="input-procedure_name" id="procedureSelect">
        <option value="test">Select a Procedure</option>
        {{#each Procedure}}
        <option value="{{this.procedureID}}">{{this.proc_name}}</option>
        {{/each}}
    </select>

    <label for="input-cost">Cost: </label>
    <input type="number" name="input-cost" id="input-cost-update">

    <input type="submit">
    </fieldset>
</form>
</div>

<script src="./js/update_procedure.js"></script>