<!-- veterinarians.hbs -->


{{!-- script to highlight current tab in nav bar --}}
<script>
  var element = document.getElementById("vetsNav");
  element.classList.add("active");
</script>

<div class="pageTitle">
<h2>Veterinarians</h2>
</div>

<div class="tables">
{{!-- Veterinarians Table --}}
<p>Click view to see all the procedures that talented vet can perform!</p>
      <table>
        <thead>
          <tr>
            <th>Vet ID</th>
            <th>Vet Name</th>
            <th>Procedures</th>
          </tr>
        </thead>
        <tbody>
          {{#each vetData}}
          <tr>
            <td>{{this.vetID}}</td>
            <td>{{this.vet_name}}</td>
            <td><button onclick="viewProcedures({{this.vetID}})">View</button></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
</div>

<div class="forms">
     <div class="tab">
        <button class="tablinks" onclick="openForm(event, 'addForm')">Add Veterinarian</button>
    </div>
    <script src="./js/tabs.js"></script>

    <div id="addForm" class="tabContent">
{{!-- Add Vet Form --}}
  <form class="addForm" id="add-vet-form" method="POST" action="/add-vet-form">
      <label>Vet's Name: </label>
      <input type="text" name="input-vet_name" id="input-vet_name">
      <div></div>

      <label>Procedures: </label>
      <button id="add-vet-procedures">Add</button>
      <div></div>
      <input type="submit" value="Add Veterinarian">
  </form>
  </div>
</div>
