<!-- veterinarians.hbs -->
<h2>Veterinarians</h2>
<p>Click view to see all the procedures that talented vet can perform!</p>
      <table>
        <tbody>
          <tr>
            <th>Vet ID</th>
            <th>Vet Name</th>
            <th>Procedures</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Sara Robinson</td>
            <td><button onclick="viewProcedures(1)">View</button></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Evan Johnson</td>
            <td><button onclick="viewProcedures(2)">View</button></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Mary Smith</td>
            <td><button onclick="viewProcedures(3)">View</button></td>
          </tr>
             <tr>
            <td>4</td>
            <td>Greg Williams</td>
            <td><button onclick="viewProcedures(4)">View</button></td>
          </tr>
        </tbody>
      </table>
    </div>

      <div id="add-vet">
      <form id="add-vet-form">
        <legend>Add Veterinarian</legend>
        <fieldset>
          <label>Vet's Name: </label>
          <input type="text" name="insert-vet_name" id="insert-vet_name">
          <div></div>
          <label>Procedures: </label>
          <input type="checkbox" id="neuter" name="neuter">
          <label for="neuter">Neuter</label>
          <input type="checkbox" id="spay" name="spay">
          <label for="spay">Spay</label>
          <input type="checkbox" id="vaccinate" name="vaccinate">
          <label for="vaccinate">Vaccinate</label>
          <input type="checkbox" id="wellnessExam" name="wellnessExam">
          <label for="wellnessExam">Wellness Exam</label>
          <input type="checkbox" id="sickExam" name="sickExam">
          <label for="sickExam">Sick Exam</label>
        </fieldset>
        <input type="submit" value="Add Veterinarian">
      </form>
    </div>

