<!-- veterinarians.hbs -->
<h1>Veterinarians</h1>

      <table>
        <tbody>
          <tr>
            <th>Vet ID</th>
            <th>Vet Name</th>
          </tr>
          <tr>
            <td>1</td>
            <td>Sara Robinson</td>
          </tr>
          <tr>
            <td>2</td>
            <td>Evan Johnson</td>
          </tr>
          <tr>
            <td>3</td>
            <td>Mary Smith</td>
          </tr>
             <tr>
            <td>4</td>
            <td>Greg Williams</td>
          </tr>
        </tbody>
      </table>
    </div>

      <form id="add-vet-form">
        <legend>Add Veterinarian</legend>
        <fieldset>
          <label>Vet's Name: </label>
          <input type="text" name="insert-vet_name" id="insert-vet_name">
        </fieldset>
        <input type="submit" value="Add Veterinarian">
      </form>
    </div>

