<!-- veterinarians.hbs -->
<h2>Veterinarians</h2>

{{!-- script to highlight current tab in nav bar --}}
<script>
  var element = document.getElementById("vetsNav");
  element.classList.add("active");
</script>

<div class="row">
<div class = "column">
{{!-- Veterinarians Table --}}
<p>Click view to see all the procedures that talented vet can perform!</p>
      <table>
        <thead>
          <tr>
            <th>Vet ID</th>
            <th>Vet Name</th>
            <th>Procedures</th>
          </tr>
        </thead>
        <tbody>
          {{#each vetData}}
          <tr>
            <td>{{this.vetID}}</td>
            <td>{{this.vet_name}}</td>
            <td><button onclick="viewProcedures({{this.vetID}})">View</button></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
</div>
<div class="column">
{{!-- Add Vet Form --}}
<div id="add-vet">
  <form id="add-vet-form" method="POST" action="/add-vet-form">
    <legend>Add Veterinarian</legend>
    <fieldset>
      <label>Vet's Name: </label>
      <input type="text" name="input-vet_name" id="input-vet_name">
      <div></div>

      <label>Procedures: </label>
      <button id="add-vet-procedures">Add</button>
      <div></div>
      <input type="submit" value="Add Veterinarian">
    </fieldset>
  </form>
</div>
</div>
</div>
