<!-- view-appt-procs.hbs -->
{{!< blank}}

<div class="procList">
<p><b>Appointment for {{apptPetName}}:</b></p>
<ul>
    {{#each apptProcs}}
    <li>{{this.proc_name}}</li>
    {{/each}}
</ul>
</div>