.display_table {
    background-color: rgb(225, 238, 234);
  }

  table {
    border: "1";
  }

  .insert {
    display: block;
  }

  .update {
    display: block;
  }

  .delete {
    display: block;
  }

  body {
    background-color: aqua;
  }

  table {
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid black;
    padding: 5px;
  }