    /* CSS HEX (Color Pallette)
--persian-plum: #66101fff;
--laurel-green: #c2cfb2ff;
--dark-sea-green: #8db580ff;
--pacific-blue: #009fb7ff;
--prussian-blue: #172a3aff;
*/

/* PAGE LAYOUT */
.container {  display: grid;
  grid-template-columns: 1fr 0.7fr 1.3fr;
  grid-template-rows: 0.3fr 0.2fr 3.3fr 0.15fr;
  gap: 5px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "headerNavbar headerNavbar headerNavbar"
    "pageTitle pageTitle pageTitle"
    "tables tables forms"
    "footers footers footers";
}

.pageTitle { grid-area: pageTitle; }

.tables { grid-area: tables; }

.forms { grid-area: forms; }

.footers { grid-area: footers; }

.headerNavbar { grid-area: headerNavbar; }

body.main {
  background-color: #c2cfb2ff;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 1350px;
}


/* NAV BAR */
  .topnav {
    background-color: #8db580ff;
    overflow: hidden;
    border-radius: 5px;
  }

  .topnav a {
    float: left;
    padding: 14px 16px;
    color: #172a3aff;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    transition: 0.3s;
  }

  .topnav a:hover {
    background-color: #009fb7ff;
  }

  .active {
    background-color: #172a3aff;
    color:  #009fb7ff !important;
  }

  .active:hover {
    color: #172a3aff !important;
  }

/* TABLES */
  table {
    border-collapse: collapse;
      border: "1";
      font-size: 17px;
      width: 100%;
      border-radius: 5px;
  }

  th {
    height: 43px;
    text-align: center;

  }

  td {
    height: 35px;
    text-align: center;
  }

  .deleteCell {
    padding: 0px;
    border: none;
    width: 80px;
  }

  .deleteButton {
    width: 80px;
    height: 36px;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border: none;
  }

  .deleteButton:hover {
    background: #66101fff;
    color: white;
  }

  .viewCell {
    padding: 0px;
    border: none;
    width: 120px;
  }

  .viewButton {
    width: 120px;
    height: 36px;
    margin: 0;
    padding: 0;
    border: none;
    border-right: 1px solid #8db580ff !important;
    font-weight: bold;
  }

  .viewButton:hover {
    background-color: #172a3aff;
    color: white;
  }

  tbody tr:hover {
    background-color: #009fb7ff;
    transition: 0.3s;
  }

  tr {
    border-bottom: 1px;
  }

  thead {
    background-color: #172a3aff;
    color: #009fb7ff;
    padding: 14px 16px;
  }

  tbody {
    background-color: #8db580ff;
    color: #172a3aff;
    border-radius: 0px 0px 5px 5px;
  }

  legend {
    font-weight:bold;
  }



/* FORMS */

  select option.placeholder {
    color: grey;
  }

/* SEARCH FORM */
.searchSpace {
  height: 15px;
}
form.search {
  max-width: 75%;
  padding-top: 0px;

}
form.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width:60%;
  background: lightblue;
  border-radius: 5px 0px 0px 5px;
}


form.search select {
  vertical-align: top;
  padding: 9px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width:60%;
  background: lightblue;
  margin-top: 0;
  border-radius: 5px 0px 0px 5px;
}
form.search button {
  float: left;
  margin-left: 3px;
  width: 17%;
  padding: 10px;
  background: grey;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: 5px;
}

input.search {
  float: left;
  width: 17%;
  padding: 10px;
  background: grey;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
}

form.search button:hover {
  background: lightgrey;
}

input.search:hover {
  background: lightgrey;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}

/* ADD FORM */

form.addForm {
  background-color: #8db580ff;
  width: 100%;
}
form.addForm input[type=text], [type=date], [type=number], [type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
}

form.addForm input[type=submit] {
  width: 100%;
  background-color: #172a3aff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;

}

form.addForm input[type=submit]:hover {
  background-color: #009fb7ff;
}

/*UPDATE FORM*/

.updateApptProcList {
  padding-top: 5px;
  padding-bottom: 10px;
}

.updateProcSpace {
  padding: 5px;
}

form.updateForm {
  background-color: #8db580ff;
  width: 100%;
}

form.updateForm input[type=text], [type=date], [type=number], [type=email], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 4px;
  box-sizing: border-box;
}

form.updateForm input[type=submit] {
  width: 100%;
  background-color: #172a3aff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;

}

form.updateForm input[type=submit]:hover {
  width: 100%;
  background-color: #009fb7ff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;

}

.procCheckbox {
  display: inline;
  position: relative;
  padding-left: 22px;
  padding-right: 4px;
  padding-bottom: 4px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
}

.procCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.procCheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border-radius: 3px;
  background-color: white;
}

.procCheckbox:hover input ~ .procCheckmark {
  background-color: #009fb7ff;
}

.procCheckbox input:checked ~ .procCheckmark {
  background-color: #172a3aff;
}

.procCheckmark:after {
  content: '';
  position: absolute;
  display: none;
}

.procCheckbox input:checked ~ .procCheckmark:after {
  display: block;
}

.procCheckbox .procCheckmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

form.procedureForm input[type=submit] {
  background-color: #172a3aff;
  color: #009fb7ff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-size: 20px;
}

form.procedureForm input[type=submit]:hover {
  background-color: #009fb7ff;
  color: #172a3aff;
}

/* Citation for following block of css: */
/* Date: 05/18/2022 */
/* Adapted from: */
/* Source URL: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

/* PROCEDURE FORM */
.pCheckbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
}

.pCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
}

.pCheckbox:hover input ~ .checkmark {
  background-color: #009fb7ff;
}

.pCheckbox input:checked ~ .checkmark {
  background-color: #172a3aff;
}

.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.pCheckbox input:checked ~ .checkmark:after {
  display: block;
}

.pCheckbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

form.procedureForm input[type=submit] {
  background-color: #172a3aff;
  color: #009fb7ff;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  font-size: 20px;
}

form.procedureForm input[type=submit]:hover {
  background-color: #009fb7ff;
  color: #172a3aff;
}

form.procedureForm {
  margin:auto;
  text-align: left;
}

form.procedureForm p.apptDetails {
  font-weight: bold;
}


body.blank {
  display: flex;
  text-align: center;
  background-color: #c2cfb2ff;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.procList {
  text-align: left;
  background-color: #8db580ff;
  border-radius: 10px;
  padding: 20px;
}


/* TABS */
.tab {
  overflow: hidden;
  border: 1px solid grey;
  border-bottom: none;
  background-color: #8db580ff;
  border-radius: 5px 5px 0px 0px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-weight: bold;
}

.tab button:hover {
  background-color: #009fb7ff !important;
}

.tab button.active {
  background-color: #172a3aff;
  color: #009fb7ff;
}

.tabContent {
  display: none;
  padding: 6px 12px;
  border: 1px solid grey;
  border-top: none;
  background-color: #8db580ff;
  border-radius: 0px 0px 5px 5px;
}



